<div class="top-header">
</div>

<div class="wrapper">
  <div class="left-scr">
    <%= render "leftscr" %>
  </div>
  <div>
    <%= render partial: "right_scr", locals: {rails: @rails} %>
  </div>
</div>